ENVIRONMENT=development

SERVICE_NAME=expense-control-back

PORT=8000

DB_HOST=expense-control-back-db
DB_USER=postgres
DB_PASS=example
DB_NAME=expense-control-back
DB_PORT=5432

PAGINATOR_LIMIT_DEFAULT=10

ALLOWED_ORIGINS=http://localhost:3000

OTEL_EXPORTER_OTLP_ENDPOINT=expense-control-otel-collector:4317

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h

JWT_ACCESS_PRIVATE_KEY_PATH=/usr/src/app/keys/private_access.pem
JWT_ACCESS_PUBLIC_KEY_PATH=/usr/src/app/keys/public_access.pem
JWT_REFRESH_PRIVATE_KEY_PATH=/usr/src/app/keys/private_refresh.pem
JWT_REFRESH_PUBLIC_KEY_PATH=/usr/src/app/keys/public_refresh.pem