ENVIRONMENT=development

SERVICE_NAME=expense-control-back

PORT=8000

DB_HOST=expense-control-back-db
DB_USER=postgres
DB_PASS=example
DB_NAME=expense-control-back
DB_PORT=5432

PAGINATOR_LIMIT_DEFAULT=10

ALLOWED_ORIGINS=http://localhost:3000